#page-wrapper {
    align-content: center;
  }
  header {
    position: fixed;
    color: white;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-family: courier new, monospace;
    font-weight: bold;
    margin-bottom: 30px;
    top: 0;
    background-color: #0b172a;
    z-index: 1;
  }
  
  #nav-bar ul {
    display: flex;
  }
  .nav-link {
    padding: 20px;
    margin: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #5cdb95;
  }
  
  nav ul {
    list-style: none;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: Blue;
  }
  
  @media (max-width: 800px) {
    header {
      width: 100%;
      display: flex;
      z-index: 1;
      justify-content: space-around;
    }
    .nav-link {
      padding: 0;
      margin: 10px;
    }
    nav ul {
      font-size: 1rem;
      text-align: center;
    }
  }
  
  h1 {
    font-size: 6vw;
    color: #5cdb95;
  }
  #slogan {
    font-size: 3vw;
    color: #5cdb95;
  }
  h2 {
    color: #5cdb95;
    font-size: 3vw;
  }
  
  body {
    background-color: #0b172a;
  }
  main {
    margin-top: 50px;
    position: relative;
    width: auto;
    color: black;
    text-align: center;
    font-size: 0.9rem;
    font-family: courier new, monospace;
  }
  section {
    margin: auto;
    width: 100%;
  }

  
  #skills {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  
  #skills-heading {
    order: 1;
    flex: 0 0 100%;
  }
  
  #my-skills {
    border: dotted rgb(130, 178, 255) 1px;
    padding: 10px;
    margin: 10px;
    order: 2;
    flex: 0 0 40%;
    background-color: #ffc43b;
  }
  
  #learning-list {
    border: dotted rgb(130, 178, 255) 1px;
    margin: 10px;
    order: 3;
    flex: 0 0 40%;
    padding: 10px;
    background-color: #ffc43b;
  }
  
  @media (max-width: 800px) {
    #skills {
      display: flex;
      justify-content: center;
      flex-flow: columun wrap;
    }
    #my-skills {
      order: 2;
      flex: 0 0 80%;
    }
  
    #learning-list {
      order: 3;
      flex: 0 0 80%;
    }
  }
  
  #projects {
    height: auto;
    margin: auto;
    font-size: 1rem;
  }
  
  .project-example-img{
    height: auto;
    width: fit-content;
    margin:auto;
    padding: 10px;
  }

  #flex-wrapper-projects {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: 0.9rem;
    color: black;
  }
  #top-left-projects {
    order: 1;
    background-color: #ffc43b;
    margin: 15px;
    padding: 15px;
    flex: 0 0 40%;
  }
  #top-right-projects {
    order: 2;
    background-color: #ffc43b;
    margin: 15px;
    padding: 15px;
    flex: 0 0 40%;
  }
  #bottom-left-projects {
    order: 3;
    background-color: #ffc43b;
    margin: 15px;
    padding: 15px;
    flex: 0 0 40%;
  }
  #bottom-right-projects {
    order: 4;
    background-color: #ffc43b;
    margin: 15px;
    padding: 15px;
    flex: 0 0 40%;
  }
  @media (max-width: 800px) {
    #flex-wrapper-projects {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: center;
      align-content: center;
      padding: 5px 0;
      margin: 5px 0;
      width: 100%;
      font-size: 0.9rem;
      color: black;
    }
    #top-left-projects {
      order: 1;
      margin: 10px;
      padding: 10px;
      flex: 0 0 80%;
    }
    #top-right-projects {
        order: 2;
        margin: 10px;
        padding: 10px;
        flex: 0 0 80%;
      }
    #bottom-left-projects {
      order: 3;
      margin: 10px;
      padding: 10px;
      flex: 0 0 80%;
    }
    #bottom-right-projects {
      order: 4;
      margin: 10px;
      padding: 10px;
      flex: 0 0 80%;
    }
  }
  .form-control {
    display: block;
    width: 70%;
    height: 1rem;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.5rem;
    margin: auto;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
  }
  
  form {
    color: #5cdb95;
  }
  
  #enquiry {
    height: 30px;
    padding: 10px;
  }
  #submit {
    margin: 10 0 40 0px;
  }
  footer {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 20px 0;
      padding-top: 10px;
      color: #5cdb95;
    }
  @media (max-width:800px){ footer{
    width:100%;
    margin:0;
    }
  }
  